<div class="max-w-lg mx-auto p-6 bg-white shadow rounded-lg space-y-6">
  <div class="space-y-2">
    <h2 class="text-2xl font-bold text-gray-900">Let's Get Started</h2>
    <p class="text-gray-700">
      Enter your email. 
      A verification code will be sent to your address.
    </p>
  </div>
  
  <div>
    <%= form_with(url: auth_path, class: "space-y-4") do |f| %>
      <div>
        <%= f.email_field :email, value: params[:email], 
            placeholder: "Email address", required: true, 
            class: "w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500" %>
      </div>
      
      <div>
        <button name="button" type="submit" 
            class="w-full bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">
          Send Code
        </button>
      </div>
    <% end %>
  </div>
</div>
