<p class="text-green-600"><%= notice %></p>

<% content_for :title, "Jobs" %>

<h1 class="text-2xl font-bold mb-4">Jobs</h1>

<div class="mb-6">
  <%= link_to "New Job", new_job_path, class: "bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600" %>
</div>

<div id="jobs" class="overflow-x-auto">
  <table class="table-auto w-full border-collapse border border-gray-300">
    <thead>
    <tr class="bg-gray-100">
      <th class="border border-gray-300 px-4 py-2 text-left">Company Name</th>
      <th class="border border-gray-300 px-4 py-2 text-left">Job Title</th>
      <th class="border border-gray-300 px-4 py-2 text-left">Description</th>
      <th class="border border-gray-300 px-4 py-2 text-left">Location</th>
      <th class="border border-gray-300 px-4 py-2 text-left">Type</th>
      <th class="border border-gray-300 px-4 py-2 text-left">Salary</th>
      <th class="border border-gray-300 px-4 py-2 text-left">Deadline</th>
      <th class="border border-gray-300 px-4 py-2 text-left">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @jobs.each do |job| %>
      <%= render partial: "job", locals: { job: job } %>
    <% end %>
    </tbody>
  </table>
</div>
